<h3> Cart </h3>

<a roterLink="/shipping">
  Shipping Prices
</a>

<div class="cart-item" *ngFor="let item of items">
  <span>
    {{ item.name }}
  </span>
  <span>
    {{ item.price | currency}}
  </span>
</div>

<form #form="ngForm" (ngSubmit)="onSubmit(form); form.reset()" novalidate>
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" ngModel name="name" required/>
  </div>

  <div>
      <label for="address">
        Address
      </label>
      <input id="address" type="text" ngModel name="address" required/>
    </div>

  <button classe="button" type="submit" [disabled]="form.invalid">Purchase</button>
</form>